<!doctype html>
<html lang="en" style = "overflow: hidden;">

<head>
	<meta charset="utf-8" />
	<title>Order a Pizza</title>
</head>

<body style = "position: absolute;
    width: 100%;
    height: 100%;">
	<h1 style = "font-size: 96px;">Welcome to CMSC335 Pizza Store</h1>

	<h2 style = "font-size: 48px;">Order a Pizza</h2>
    <ul>
        <li style = "font-size: 24px; color: green;">To start an order click <a href="/order">here</a></li>
        <li style = "font-size: 24px; color: red;">To review your order click <a href="/review">here</a></li>
    </ul>
</body>

</html>