<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Order</title>

    <script>
        function confirmSubmit() {
            return confirm("Are you sure you want to submit your application?\nYou will not be able to change your information once submitted.")
        }
    </script>
</head>

<body>
	<h1>Pizza Order</h1>
    
    <%- form %>
        <fieldset>
            <label><b>Name: </b><input type="text" name="name"/></label>
            <label><b>Email Address: </b><input type="email" name="email"  placeholder="example@notreal.notreal"></label><br><br>
            <label><b>Pizza Size: </b><select name="size"><option value = "Small">Small</option><option value = "Medium">Medium</option><option value = "Large">Large</option></select></label><br><br>
            <label><b>Additional Info: </b><br><textarea rows="5" cols="80" name="additionalInformation"></textarea></label>
        </fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Submit Application"/>
        <hr>
	</form>

    <a href="/">HOME</a>
</body>

</html>